<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'wordpress' );

/** MySQL database username */
define( 'DB_USER', 'WordPress' );

/** MySQL database password */
define( 'DB_PASSWORD', 'bananas' );

/** MySQL hostname */
define( 'DB_HOST', 'localhost' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'P6)).3?7TugvVQ,#Ci>1l8nkBTc=&1n8okA 4zZ^bSMC[*,wEj,rPVDy2(H+/#.m' );
define( 'SECURE_AUTH_KEY',  'iOb+ZWi8OfNKvGZ%Xt{LYBX^&m<vDdt4;]XxY@AQ6v{4rNyO;6C~Rf@>jK]AtHX;' );
define( 'LOGGED_IN_KEY',    '9{<loY(5]=t-;$2<>wXS-7lA_F 2OU~[SQDx/6w}t49I`$,r#$^e|Fmaw/QfH,6n' );
define( 'NONCE_KEY',        ':U2sorsc$KJpPiwx hR`cn}.+Eui=YmW;[En75sa4H;PcF9joMgdI%m0lXEpw 7M' );
define( 'AUTH_SALT',        'hc:DZAfpb2`W__So(N}mjKKcl6aJsn8/~)7!13{.057rK2z|]Y@W+cF7DVRg*+yb' );
define( 'SECURE_AUTH_SALT', ',]NUWd|<:JSk5~#rqXQ%x}Y[c%8A%/^KN2@Dh^3(*^p5L>@)C2)OkW]k=oPl&WlJ' );
define( 'LOGGED_IN_SALT',   ';H3DTgR#+2oPu1Dp`m*XO!pxjlOn[3cT5&}l0?;8_u11JAw/B8u6-DMcv|bI,Hzl' );
define( 'NONCE_SALT',       'mC`0:w;jRWuv=.T@K+iMXtkl*1<l#=sG0!lk{OyR#/#<xEs8oa+1EQ$10TR,1ME/' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
